html {
  height: 100%;
  width: 100%;
}

/*cal btn = FCA00C
cal text = fff
num btn = 333333
num text = fff
abv btn = A5A5A5
abv txt = 000
*/

.mobile {
  display: flex;
  justify-content: center;
  align-items: center;

}

.screen {
  border: 4px solid gray;
  position: relative;
  width: 400px;
  height: 800px;
  background-color: #0E0D0B;
  border-radius: 5rem;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}

.calc {
  width: full;
  height: 20rem;
}


.calc {
  width: full;
  height: 15rem;
  color: #fff;
  font-size: 3.5rem;
  padding: 0 2rem;
  text-align: right;
  text-orientation: upright;
}



.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin: 0 2rem;
}

button {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2rem;
  margin: auto;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.operator {
  background-color: #A5A5A5;
}

button:hover,
button:active {
  opacity: 0.8;
}

.number {
  background-color: #333333;
  color: #fff;
}

.airthmetic {
  background-color: #FCA00C;
  color: #fff;

}

.span-two {
  grid-column: span 2;
  width: 9rem;
  border-radius: 50px;
}